/* xxx */
html {
	-webkit-text-size-adjust: 100%;
}	

body {
	
  	background: black;
  	color: #111;
	font-family: 'Slabo 27px', serif;
  	font-size: 12px;
  	font-weight: normal;
  	line-height: 1.25;
  	margin: 0;
  	overflow: hidden;

}


div.img {
	background-image: url("miau.jpeg");
	/*background-position: 60% 40%;*/
	/*background-repeat: no-repeat;*/
	background-size: cover;
	max-height: 75%;
	bottom: 20%;
	left: 0;
	position: absolute;
 	right: 0;
	top: 0;
}

div.main {
	background-color: white;
	bottom: 0;
	left: 0;
	position: absolute;
  	right: 0;
 	text-align: center;
 	height: auto;
}

h2 {
	color: #225587;
	font-size: 1.8em;
}

p {
	font-size: 1.3em;
}

a{
	font-size: 1.2em;
	text-decoration: none;
	
}

	
#prev a {
	padding-bottom: 5px;
	margin: 3%;
	color: black !important;
	letter-spacing: 0.1em;
}
#prev a:hover {
  text-decoration: underline;
}


#contact a {
    margin: 2%;
    -webkit-background-clip: padding;
    -webkit-border-radius: 4px;
    background-clip: padding-box;
    background: transparent;
    border-radius: 4px;
    border: 0;
    color: #225587;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    bottom: 50px;
}

#contact a:hover {
  background: #225587;
  color: #fff;
  text-decoration: none;
}
